<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="examples.simple.SimpleTableMapper">

  <resultMap id="SimpleTableResult" type="examples.simple.SimpleTable">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="first_name" jdbcType="VARCHAR" property="firstName" />
    <result column="last_name" jdbcType="VARCHAR" property="lastName" />
    <result column="birth_date" jdbcType="DATE" property="birthDate" />
    <result column="occupation" jdbcType="VARCHAR" property="occupation" />
  </resultMap>

  <select id="selectByExample" resultMap="SimpleTableResult">
    select a.id, a.first_name, a.last_name, a.birth_date, a.occupation
    from SimpleTable a
    ${whereClause}
  </select>

  <delete id="deleteByExample">
    delete from SimpleTable
    ${whereClause}
  </delete>  
</mapper>
